@font-face {
  font-family: "SF PRO";
  src: url(Font/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: "Perpetua";
  src: url(Font/perpetua-italic.otf);
}

@font-face {
  font-family: "SF PRO Semibold";
  src: url(Font/SFPRODISPLAYSEMIBOLDITALIC.OTF);
}

#navbar {
  position: sticky;
}

body {
  background-image: url(img/Home.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#home {
  height: 100vh;
}

.kotak {
  width: 100%;
}

.leftside {
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: end;
  padding-bottom: 5vh;
}
.rightside {
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.tulisan-kecil {
  font-family: "Perpetua";
  font-size: 4vh;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.mobile {
  text-align: center;
}

.mobile-about {
  margin-top: 2em;
}

.mobile-experiences {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.experiences-date {
  font-size: 2vh;
  font-weight: 400;
  text-align: center;
}

.mobile-logo {
  margin: auto;
}

.mobile-ed {
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .leftside {
    height: 100vh;
    justify-content: right;
    padding-right: 5vh;
    align-items: center;
    padding-bottom: 0vh;
  }

  .rightside {
    height: 100vh;
    justify-content: left;
    padding-right: 5vh;
    align-items: center;
    padding-top: 0vh;
  }

  .mobile {
    text-align: left;
  }

  .mobile-about {
    margin-top: 0;
  }

  .mobile-experiences {
    padding-left: 0px;
    padding-right: 0px;
    text-align: start;
  }

  .experiences-date {
    text-align: end;
  }

  .mobile-logo {
    margin: 0;
  }

  .mobile-ed {
    text-align: start;
    margin: 0;
  }
}

.profile {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  border: 20px solid #ffff;
}

@media screen and (min-width: 768px) {
  .profile {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border: 20px solid #ffffff;
  }
}

#typing {
  font-family: "SF PRO";
  font-size: 6vh;
  font-weight: 700;
  color: #418ded;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.btn-cv {
  font-family: "SF PRO Semibold";
  font-size: 3vh;
  font-weight: 300;
  background-color: #ffd300;
  border-radius: 1em;
  padding-right: 1em;
  padding-left: 1em;
  align-items: center;
  color: #2a2e31;
  outline: none;
  border: none;
  cursor: pointer;
  scale: (1, 1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn-cv:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#about {
  padding: 7rem 0rem;
  background-color: #202020;
  color: white;
}

#skills {
  padding: 1rem 0rem;
}

.card {
  border-radius: 3px;
}

.title-box {
  padding-top: 7px;
  border-radius: 2em;
  color: #2a2e31;
  border: 5px solid #ffd300;
}

.title-font {
  font-weight: 700;
  font-size: 7vh;
  color: #418ded;
}

.subtitle-font {
  font-weight: 400;
  font-size: 2vh;
  color: #ffffff;
}

#button {
  text-align: center;
}

#porto-title {
  padding-top: 10vh;
  background-color: #202020;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

#experiences {
  background-image: url(img/Experiences.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.experiences-title {
  font-size: 3vh;
  font-weight: 700;
}

.experiences-btn {
  scale: (1, 1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.experiences-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card-d {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.card-d:hover,
.card-d:focus,
.card-d:active {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#projects {
  background-color: #202020;
  padding-bottom: 4rem;
}

#error {
  padding-top: 10vh;
  background-color: #202020;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 90vh;
}

#contact {
  padding-top: 3rem;
  background-image: url(img/IMG_4069.jpg);
  background-attachment: fixed;
  background-position: center;
  background-color: #418ded;
  background-repeat: no-repeat;
  background-size: cover;
}

#apaya {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
  width: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #418ded;
  width: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #418ded;
  width: 10px !important;
}
