.jumbotron {
  padding-top: 35vh;
  background-image: url(img/Latar\ Home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

#about {
  padding: 7rem 0rem;
  background-color: #141414;
}

.navbar {
  position: sticky;
}

#experience {
  padding: 5rem 0rem;
  background-color: #141414;
}

#project {
  padding: 5rem 0rem;
  background-color: #141414;
}

#baris1 {
  padding: 1rem 0rem;
}

#baris2 {
}

.display-1 {
  font-size: 7vh;
  font-weight: 500;
}

#skills {
  padding: 3rem;
}

#contact {
  padding: 11rem;
  background-image: url(img/Latar\ Kontak.jpg);
  background-attachment: fixed;
  background-position: center;
  background-color: #ff0000;
}

#apaya {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
