@font-face {
  font-family: "urbanist";
  src: url(font/Urbanist-VariableFont_wght.ttf);
}

#navbar {
  position: sticky;
}

#home {
  padding-top: 35vh;
  background-image: url(img/Latar\ Home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
}

#typing {
  font-size: 7vh;
  font-weight: 700;
  color: #e3344c;
  text-shadow: #000000 1px 1px;
}

#about {
  padding: 7rem 0rem;
  background-color: #000000;
  color: white;
}

#skills {
  padding: 1rem 0rem;
}

.card {
  border-radius: 3px;
}

.title-box {
  padding-top: 7px;
  background-color: #1d1d1f;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  color: #e3344c;
}

.title-font {
  font-weight: 800;
}

#button {
  text-align: center;
}

#experiences {
  padding: 4rem 0rem;
  background-color: #000000;
}

#projects {
  padding: 5rem 0rem;
  background-color: #000000;
}

#contact {
  padding-top: 3rem;
  background-image: url(img/Latar\ Kontak.jpg);
  background-attachment: fixed;
  background-position: center;
  background-color: #e3344c;
}

#apaya {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.col-md-4 {
  padding: 1rem 1rem;
}

.btn-cv {
  font-weight: 1000;
  padding-top: 7px;
  background-color: #e3344c;
  border-radius: 5px;
  width: fit-content;
  color: white;
  cursor: pointer;
  scale: (1, 1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn-cv:hover,
.btn-cv:focus,
.btn-cv:active {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card-s {
  color: white;
}

.card-d {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.card-d:hover,
.card-d:focus,
.card-d:active {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.web-font {
  font-family: "Urbanist";
}

.card-title {
  font-weight: 700;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  width: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3344c;
  width: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e3344c;
  width: 10px !important;
}

#error {
  padding-top: 10vh;
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 90vh;
}

#porto-title {
  padding-top: 10vh;
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

#lfr {
  padding-top: 5rem;
  background-color: #000000;
  text-align: center;
}

#rts {
  padding-top: 5rem;
  background-color: #000000;
  text-align: center;
}

#aul {
  padding-top: 5rem;
  background-color: #000000;
  text-align: center;
}

#staytuned {
  padding-top: 10vh;
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 90vh;
  text-align: center;
}

#slt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  text-align: center;
}

#bkui {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1995b3;
  text-align: center;
}

#uirt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  text-align: center;
}

#psbga {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2a63af;
  text-align: center;
}

#imebp {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1d1819;
  text-align: center;
}

#exe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0d2734;
  text-align: center;
}

#psbge {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fad2a2;
  text-align: center;
}
